<h1><%= @billboard.id ? 'Edit the Billboard' : 'Create a New Billboard' %></h1>
<hr>
<%= form_for @billboard do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>
